@using AnitsukiTV.Models
@model List<TBLCATEGORY>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a class="btn btn-primary" href="/LanetlerKralıAdmin/AddCategory">Kategori Ekle</a></h4>
                <p class="card-description">
                    Add class <code>.table</code>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kategori Adı</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.ID</td>
                                <td>@x.CATEGORYNAME</td>
                                <td><a class="btn btn-warning" href="/LanetlerKralıAdmin/UpdateCategory/@x.ID">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

