@model AnitsukiTV.Models.TBLUSER
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UserSave", "LanetlerKralıAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="forms-sample">
        <div class="form-group">
            <label for="exampleInputName1">ID</label>
            @Html.TextBoxFor(x => x.ID, new { @style = "width:100%; border:1px solid #000000;", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputName1">MAIL</label>
            @Html.TextBoxFor(x => x.MAIL, new { @style = "width:100%; border:1px solid #000000;" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail3">HAKKINDA</label>
            @Html.TextAreaFor(x => x.ABOUT, 15, 2, new { @style = "width:100%; border:1px solid #000000;" })
        </div>
        <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
        <a style="color:#ffffff;" class="btn btn-light" href="/LanetlerKralıAdmin/Users">Vazgeç</a>
    </form>

}

