@model AnitsukiTV.Models.TBLANIMECOMMENT
@{
    ViewBag.Title = "UpdateComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("CommentSave", "LanetlerKralıAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="forms-sample">
        <div class="form-group">
            <label for="exampleInputName1">ID</label>
            @Html.TextBoxFor(x => x.ID, new { @style = "width:100%; border:1px solid #000000;", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Mesaj</label>
            @Html.TextAreaFor(x => x.COMMENT, 15, 2, new { @style = "width:100%; border:1px solid #000000;" })
        </div>
        <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
        <a style="color:#ffffff;" href="/LanetlerKralıAdmin/AnimeComment" class="btn btn-light">Vazgeç</a>
    </form>
}

