@model AnitsukiTV.Models.TBLDONATE
@{
    ViewBag.Title = "UpdateDonate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("DonateSave", "LanetlerKralıAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="forms-sample">
        <div class="form-group">
            <label for="exampleInputName1">ID</label>
            @Html.TextBoxFor(x => x.ID, new { @style = "width:100%; border:1px solid #000000;", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail3">Bağışçı</label>
            @Html.TextBoxFor(x => x.DONATER, new { @style = "width:100%; border:1px solid #000000;" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail3">Bağış Miktarı (Örnek => 200,00)</label>
            @Html.TextBoxFor(x => x.DONATE, new { @style = "width:100%; border:1px solid #000000;" })
        </div>
        <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
        <a style="color:#ffffff;" class="btn btn-light" href="/LanetlerKralıAdmin/Donater">Vazgeç</a>
    </form>

}

