
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="~/css/errorcss.css" type="text/css" />
</head>
<body>
    <div class="page">
        <div class="main">
            <h1>Sunucu Hatası</h1>
            <div class="error-code">500</div>
            <h2>İç Sunucu Hatası</h2>
            <p class="lead">
                Sunucu, bir iç hata veya yanlış yapılandırma nedeniyle isteğinizi tamamlayamadı.
                Lütfen hatanın meydana geldiği zamanı ve hataya yol açmış olabileceğiniz herhangi bir şeyi sunucu yöneticisine bildirin.
                Bu hata hakkında daha fazla bilgi sunucu hata günlüğünde bulunabilir.
            </p>
            <hr />
            <p>Yapabilecekleriniz</p>
            <div class="help-actions">
                <a href="javascript:location.reload();">Sayfayı Yeniden Yükle</a>
                <a href="/">Ana Sayfa</a>
            </div>
        </div>
    </div>
</body>
</html>