/*VIDEOPLAYER ROOT*/
:root {
  --videoplayer-color1: none
}

/*POSTER PLAY BTN ROOT*/
:root {
  --btn-color: #ffffff;
  --btn-font-size: 5rem;
}

/*SPINNER ROOT*/
:root {
  --spinner-color1: #FF7F00;
  --spinner-color2: #ffffff;
}

/*THUMBNAIL ROOT*/
:root {
  --thumbnaıl-color1: #FF7F00;
  --thumbnaıl-color2: rgba(0, 0, 0, .75);
}

/*PROGRESS ROOT*/
:root {
  --progress-color1: #ffffff;
  --progress-color2: #f0f0f07c;
  --progress-color3: rgb(206, 206, 206);
  --progress-color4: #FF7F00;
  --progress-color5: #313131;

  --progress-font-size: var(1rem);
}

/*CONTROLS ROOT*/
:root {
  --controls-color1: rgba(0, 0, 0, .75);
  --controls-color2: #ffffff;
  --controls-font-size: 0.8rem;
  --controls-font-size2: 1.4rem;
}

/*SETTINGS ROOT*/
:root {
  --setting-color1: rgb(28 28 28 / 80%);
  --setting-color2: #ffffff;

  --setting-font-size: 1.4rem;
  --setting-font-size2: 0.9rem;
  --setting-font-size3: 0.5rem;
  --setting-font-size4: 0.8rem;
  --setting-font-size5: 1.2rem;
  --setting-font-size6: 1.4rem;
}

/*SETTINGS SCROLL ROOT*/
:root {
  --setting-scroll-color1: #313131;
  --setting-scroll-color2: #FF7F00;
  --setting-scroll-color3: #ffffff;
}



.material-symbols-outlined {
  user-select: none;
  -webkit-user-select: none;
}


.main-video::-webkit-media-controls,
.main-video::-moz-media-controls,
.main-video::-o-media-controls,
.main-video::-ms-media-controls {
  display: none !important;
}


.content .videoplayer {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.content .videoplayer.hide-cursor {
  cursor: none;
}

.content .videoplayer .postervideo {
  cursor: pointer;
  display: block;
}

.content .videoplayer .posterbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: var(--btn-font-size);
  color: var(--btn-color);
}

.content .videoplayer .postervideo .poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  object-fit: cover;
  background-position: center;
  filter: brightness(0.6);
}

.content .videoplayer .postervideo .postermobil {
  display: none;
}

.content .videoplayer .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border: 4px solid var(--spinner-color2);
  border-bottom-color: var(--spinner-color1);
  border-radius: 50%;
  z-index: 1;
  animation: anispin 0.6s linear infinite;
  display: none;
}


.content .videoplayer .prev10 {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 85%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .videoplayer .next10 {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 85%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes anispin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.content .videoplayer .thumbnail {
  position: absolute;
  bottom: 65px;
  left: calc(var(--x) + 11px);
  transform: translateX(-56%);
  width: 150px;
  height: 90px;
  border: 2px solid var(--thumbnaıl-color1);
  border-radius: 5px;
  display: none;
  object-fit: cover;
}

.content .videoplayer .thumbnail::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: linear-gradient(to top, var(--thumbnaıl-color2), transparent);
}

.content .videoplayer .progressAreaTime {
  position: absolute;
  left: var(--x);
  transform: translateX(-40%);
  min-width: 50px;
  padding: 5px 10px;
  white-space: nowrap;
  color: var(--progress-color1);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
  z-index: 1;
  bottom: 65px;
  display: none;
}

.content .videoplayer .main-video {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}

.content .videoplayer .controls {
  position: absolute;
  --webkit-display: none;
  bottom: 0px;
  left: 0;
  height: 60px;
  width: 100%;
  background: linear-gradient(to top, var(--controls-color1), transparent);
  opacity: 0;
  transition: all 300ms;
}

.content .videoplayer .controls.active {
  opacity: 1;
}

.content .videoplayer .controls .progress_area {
  width: 100%;
  height: 10px;
  margin: auto;
  background-color: var(--progress-color2);
  cursor: pointer;
}

.content .videoplayer .controls .progress_area .buffered_progress_bar {
  position: absolute;
  top: 0;
  width: 100px;
  background-color: var(--progress-color3);
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
  z-index: -1;
}

.content .videoplayer .controls .progress_area .progress_bar {
  position: relative;
  width: 0%;
  background-color: var(--progress-color4);
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
}

.content .videoplayer .controls .progress_area .progress_bar::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--progress-color4);
  color: var(--progress-color4);
  transition: all 300ms;
}

.content .videoplayer .controls .progress_area .progress_bar::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--progress-color5);
  color: var(--progress-color5);
  transition: all 300ms;
}

.content .videoplayer .controls .progress_area .bufferedBar {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: inherit;
}

.content .videoplayer .controls .control-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 46px;
  margin: 0 auto;
}

.content .videoplayer .controls .control-list .control-left,
.content .videoplayer .controls .control-list .control-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .videoplayer .controls .control-list .control-left .timer {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
  color: var(--controls-color2);
  margin-left: 10px;
  text-align: center;
}

.content .videoplayer .controls .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--controls-color2);
  margin: 0px 5px 0px 8px;
}

.content .videoplayer .controls .icon .material-symbols-outlined {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  color: var(--controls-color2);
  cursor: pointer;
}

.content .videoplayer .controls .icon .material-symbols-outlined.fast-rewind:active {
  transition: all 150ms;
  transform: rotate(-45deg);
}

.content .videoplayer .controls .icon .material-symbols-outlined.fast-forward:active {
  transition: all 150ms;
  transform: rotate(45deg);
}

.content .videoplayer .controls .icon .volume_range {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background-color: var(--controls-color2);
  color: var(--controls-color2);
  width: 0px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.4s;
}

.content .videoplayer .controls .icon .volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--controls-color2);
  color: var(--controls-color2);
  opacity: 0;
  transition: 0.3s;
}

.content .videoplayer .controls .icon:hover .volume_range {
  display: inline-block;
  width: 60px;
}

.content .videoplayer .controls .icon:hover .volume_range::-webkit-slider-thumb {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}

.content .videoplayer .controls .control-right .icon .material-symbols-outlined.settingsBtn {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  transition: 0.3s;
}

.control-right .icon .settingsBtn.active {
  transform: rotate(-45deg);
}

.videoplayer .settings {
  position: absolute;
  bottom: 62px;
  right: 25px;
  background-color: var(--setting-color1);
  color: var(--setting-color2);
  overflow-y: auto;
  width: 150px;
  max-height: 250px;
  z-index: 20;
  display: none;
  border-radius: 5px;
}

.videoplayer .settings.active {
  display: block;
}

.videoplayer .settings>div>span {
  font-size: var(--setting-font-size2);
  font-weight: 500;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--setting-color1);
}

.videoplayer .settings>div>span .icon {
  font-size: var(--setting-font-size3);
  margin: 0px 5px;
  cursor: pointer;
}

.videoplayer .settings>div>ul li span {
  pointer-events: none;
}

.videoplayer .settings::-webkit-scrollbar {
  width: 10px;
  background-color: var(--setting-scroll-color1);
  border-left: 1px solid var(--setting-scroll-color1);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.videoplayer .settings::-webkit-scrollbar-thumb {
  background-color: var(--setting-scroll-color2);
  border-radius: 4px;
}

.videoplayer .settings ul {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.videoplayer .settings>div ul li {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: block;
  font-size: var(--setting-font-size4);
  transition: all 300ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.videoplayer .settings ul li:hover {
  background-color: var(--setting-scroll-color3);
  color: var(--setting-scroll-color1);
}

.videoplayer .settings>div ul li.active::before {
  content: '✓';
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
  font-size: var(--setting-font-size5);
}


@media only screen and (max-width:1400px) {
  .controls .icon {
    margin: 0px 5px 0px 5px;
    font-size: var(--setting-font-size6);
  }

  .volume_range,
  .volume,
  .picture_in_picture {
    display: none !important;
  }
}

@media only screen and (max-width:600px) {
  .content .videoplayer .postervideo .poster {
    display: none;
  }

  .content .videoplayer .postervideo .postermobil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    object-fit: cover;
    background-position: center;
    filter: brightness(0.6);
    display: block;
  }
}