::-moz-selection {
    background-color: #FF7F00;
    color: #000000;
}

::selection {
    background-color: #FF7F00;
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: thin; /* Kaydırıcının inceliği */
    scrollbar-color: #FF7F00 #000000; /* Kaydırıcı rengi ve arka plan rengi */
}

html,
body {
    background-color: #000000;
    overflow-x: hidden;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #000000;
    border-left: 1px solid #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #FF7F00;
}

/*---------------------------------YILBASI KAR TEMASI----------------------------------------*/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

#snow-container {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

.snowflake {
    animation-name: fall;
    animation-timing-function: linear;
}

/*---------------------------------------LOADING START---------------------------------------*/

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 15px solid #313131;
    border-top-color: #FF7F00;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


/*---------------------------------------LOADING END---------------------------------------*/
/*---------------------------------------HEADER START---------------------------------------*/
.header-change {
    box-shadow: #000000 0px 20px 30px -10px;
    background-color: #000000;
    transition: all 300ms;
}

header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: all 300ms;
}

    header .container-xl .hamburger-btn {
        display: none;
    }

    header .container-xl .logo {
        height: 60px;
        display: flex;
        align-items: center;
        z-index: 9999;
    }

        header .container-xl .logo a {
            text-decoration: none;
        }

            header .container-xl .logo a .logomobile {
                display: none;
            }

            header .container-xl .logo a img {
                width: 140px;
                height: auto;
            }

    header .container-xl nav {
        height: 60px;
    }

        header .container-xl nav ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
        }

            header .container-xl nav ul li {
                margin-left: 5px;
                margin-left: 5px;
            }

                header .container-xl nav ul li a {
                    height: 60px;
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 1rem;
                    font-style: normal;
                    font-family: "Inter", sans-serif;
                    transition: all 300ms;
                    padding: 8px 8px;
                    border-radius: 20px;
                }

                    header .container-xl nav ul li a:hover {
                        background-color: #ffffff;
                        color: #000000;
                    }

                    header .container-xl nav ul li a.active {
                        background-color: #ffffff;
                        color: #000000;
                    }

    header .box {
        height: 60px;
        display: flex;
        justify-content: end;
    }

        header .box .search {
            height: 60px;
            display: flex;
            align-items: center;
            z-index: 9999;
        }

            header .box .search a {
                color: #FF7F00;
                transition: all 300ms;
                padding: 18px 8px;
            }

                header .box .search a i {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                header .box .search a:hover {
                    color: #ffffff;
                }

        header .box .user {
            height: 60px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            z-index: 9999;
        }

            header .box .user a {
                color: #FF7F00;
                transition: all 300ms;
                padding: 18px 8px;
            }

                header .box .user a i {
                    font-size: 1.9rem;
                    font-weight: 500;
                }

                header .box .user a:hover {
                    color: #ffffff;
                }

/*HEADER RESPONSİVE*/
@media only screen and (max-width: 860px) {
    header {
        background-color: #000000;
        z-index: 9999;
    }

        header .container-xl .row {
            display: flex;
            justify-content: space-between;
        }

            header .container-xl .row .logo {
                transform: translateX(70%);
            }

                header .container-xl .row .logo a {
                    text-decoration: none;
                }

                    header .container-xl .row .logo a .logomobile {
                        display: block;
                        width: 58px;
                        height: 58px;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }

                    header .container-xl .row .logo a img {
                        display: none;
                        width: 140px;
                        height: auto;
                    }

            header .container-xl .row .hamburger-btn {
                display: block;
                width: 30px;
                height: 25px;
                position: absolute;
                left: 5px;
                top: 18px;
                z-index: 9999;
            }

                header .container-xl .row .hamburger-btn span {
                    content: "";
                    display: block;
                    height: 3px;
                    width: 30px;
                    background-color: #ffffff;
                    transform: translateY(10px);
                    transition: all 300ms;
                }

                    header .container-xl .row .hamburger-btn span::before {
                        content: "";
                        display: block;
                        height: 3px;
                        width: 100%;
                        background-color: #ffffff;
                        position: absolute;
                        transition: all 300ms;
                        bottom: 10px;
                    }

                    header .container-xl .row .hamburger-btn span::after {
                        content: "";
                        display: block;
                        height: 3px;
                        width: 100%;
                        background-color: #ffffff;
                        position: absolute;
                        transition: all 300ms;
                        top: 10px;
                    }

            header .container-xl .row nav {
                position: absolute;
                top: 60px;
                width: 100%;
                height: auto;
                background-color: #000000;
                opacity: 0;
                transform: translateY(-300px);
                transition: all 200ms ease-in-out;
                z-index: 999;
            }

                header .container-xl .row nav ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                }

                    header .container-xl .row nav ul li {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        margin-left: -15px;
                    }
}
/*CHECK İŞLEMLERİ HAMBURGER-MENU*/
#check:checked + .hamburger-btn span {
    background-color: transparent;
    transition: all 300ms;
}

    #check:checked + .hamburger-btn span::before {
        transform: rotate(-45deg);
        transition: all 300ms;
        bottom: 0;
    }

    #check:checked + .hamburger-btn span::after {
        transform: rotate(45deg);
        transition: all 300ms;
        top: 0;
    }

#check:checked ~ nav {
    top: 100%;
    transform: translateY(0%);
    opacity: 1;
}

/*---------------------------------------HEADER END---------------------------------------*/

/*---------------------------------------ANİMEDETAİL START---------------------------------------*/
.content3 {
    width: 100%;
    height: auto;
    margin-top: 0px;
}

.watson {
    margin-top: 60px;
    width: 100%;
    height: 600px;
    position: relative;
}

    .watson .watson-bg {
        width: 100%;
        height: 100%;
        filter:brightness(0.7);
    }

        .watson .watson-bg::before {
            content: " ";
            position: absolute;
            top: -10px;
            width: 100%;
            height: 70px;
            z-index: 2;
            background: linear-gradient(to top, rgba(255, 255, 255, 0) 1%, #000000 100%);
        }

        .watson .watson-bg::after {
            content: " ";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 70px;
            z-index: 2;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, #000000 50%);
        }


        .watson .watson-bg .desktop {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(5px);
        }

        .watson .watson-bg .mobile {
            display: none;
        }

    .watson .originalimg {
        width: 720px;
        height: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

        .watson .originalimg .desktop {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .watson .originalimg .mobile {
            display: none;
        }

.animeabout {
    margin-top: 25px;
    padding: 0rem 10rem;
}

    .animeabout .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

        .animeabout .text .title {
            font-size: 2rem;
            font-weight: 500;
            font-style: normal;
            color: #FF7F00;
            width: 80%;
        }

        .animeabout .text .like {
            width: 20%;
            display: flex;
            justify-content: end;
            align-items: center;
        }

            .animeabout .text .like button {
                background-color: transparent;
                border: none;
                outline: none;
            }

            .animeabout .text .like i {
                color: #ffffff;
                font-size: 1.7rem;
                margin: 0px 5px;
                cursor: pointer;
            }

    .animeabout .animedes {
        width: 100%;
        height: auto;
        line-height: 1.5;
    }

        .animeabout .animedes .des {
            line-height: 1.2;
            width: 100%;
        }

        .animeabout .animedes .totalepisode,
        .animeabout .animedes .createyear,
        .animeabout .animedes .des,
        .animeabout .animedes .category {
            color: #ffffff;
            font-size: 1rem;
            font-weight: 400;
            font-style: normal;
        }

        .animeabout .animedes .imdbandmal {
            width: 160px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }

            .animeabout .animedes .imdbandmal .imdb {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 49%;
                height: 100%;
                background-color: #F5C518;
                color: #000000;
                font-size: 0.9rem;
                font-weight: 600;
                font-style: normal;
            }

            .animeabout .animedes .imdbandmal .mal {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 49%;
                height: 100%;
                background-color: #2e51a2;
                color: #ffffff;
                font-size: 0.9rem;
                font-weight: 600;
                font-style: normal;
            }


.content3 .allepisode {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 0rem 10rem;
}

    .content3 .allepisode .searchcategory {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
    }

        .content3 .allepisode .searchcategory .search {
            width: 180px;
            height: 35px;
            background-color: #313131;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #ffffff;
        }

            .content3 .allepisode .searchcategory .search i {
                margin-left: 10px;
                font-size: 1rem;
                font-style: normal;
            }

            .content3 .allepisode .searchcategory .search input {
                width: 82%;
                height: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                color: #ffffff;
                font-size: 0.9rem;
                font-weight: 500;
                font-style: normal;
                padding-right: 6px;
            }

    .content3 .allepisode .dropdown {
        background-color: #313131;
        border-radius: 20px;
        width: 100px;
        height: 35px;
        display: flex;
        align-items: center;
    }

        .content3 .allepisode .dropdown .btn {
            color: #ffffff;
            font-size: 0.9rem;
            font-weight: 500;
            font-style: normal;
            border: none !important;
            outline: none !important;
        }

        .content3 .allepisode .dropdown .dropdown-menu {
            border-radius: 10px;
            background-color: #313131;
        }

            .content3 .allepisode .dropdown .dropdown-menu .dropdown-item {
                color: #ffffff;
                font-size: 0.9rem;
                font-weight: 500;
                font-style: normal;
                transition: all 250ms;
            }

                .content3 .allepisode .dropdown .dropdown-menu .dropdown-item:hover {
                    color: #313131;
                    background-color: #ffffff;
                }

    .content3 .allepisode .episode {
        width: 100%;
        height: auto;
    }

        .content3 .allepisode .episode #menuFull {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 560px;
            overflow: auto;
            gap: 1%;
        }

            .content3 .allepisode .episode #menuFull li {
                transition: all 250ms;
                width: 19%;
                margin-bottom: 20px;
            }

                .content3 .allepisode .episode #menuFull li a {
                    text-decoration: none;
                    color: #ffffff;
                }

                    .content3 .allepisode .episode #menuFull li a .box {
                        width: 100%;
                        line-height: 0.7;
                    }

                        .content3 .allepisode .episode #menuFull li a .box .img {
                            position: relative;
                            width: 100%;
                            height: 150px;
                        }

                            .content3 .allepisode .episode #menuFull li a .box .img img {
                                width: 100%;
                                height: 140px;
                                -o-object-fit: cover;
                                object-fit: cover;
                                border-radius: 10px;
                                opacity: 0.6;
                            }

                            .content3 .allepisode .episode #menuFull li a .box .img .bi-play-circle {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                font-size: 2rem;
                                font-weight: 600;
                                font-style: normal;
                                transform: translate(-50%, -50%);
                            }

                        .content3 .allepisode .episode #menuFull li a .box .detail .title {
                            font-size: 0.9rem;
                            font-weight: 500;
                            font-style: normal;
                        }

.content3 .commentplace {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

    .content3 .commentplace .headcomment {
        width: 100%;
        height: auto;
    }

        .content3 .commentplace .headcomment .title {
            font-size: 1rem;
            color: #ffffff;
            font-weight: bold;
            font-style: normal;
        }

        .content3 .commentplace .headcomment form {
            width: 98%;
            height: auto;
            display: flex;
            flex-direction: column;
        }

            .content3 .commentplace .headcomment form textarea {
                width: 100%;
                height: 20vh;
                background-color: transparent;
                color: #ffffff;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                padding: 7px;
                border: 2px solid #FF7F00;
                border-radius: 10px;
                outline: none;
            }

            .content3 .commentplace .headcomment form button {
                margin: 5px;
                outline: none;
                border: none;
                background-color: #313131;
                color: #ffffff;
                width: 100px;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: 500;
                font-style: normal;
                transition: all 300ms;
            }

                .content3 .commentplace .headcomment form button:hover {
                    background-color: #ffffff;
                    color: #313131;
                }

.content3 .commentboxes {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

    .content3 .commentboxes .title {
        font-size: 1rem;
        color: #ffffff;
        font-weight: bold;
        font-style: normal;
    }

    .content3 .commentboxes .comments {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
    }

        .content3 .commentboxes .comments .comment1 {
            display: flex;
            margin-top: 20px;
            width: 100%;
        }

            .content3 .commentboxes .comments .comment1 img {
                width: 60px;
                height: 60px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid #FF7F00;
            }

            .content3 .commentboxes .comments .comment1 .detail {
                display: flex;
                flex-direction: column;
                justify-content: start;
                line-height: 2;
                margin-left: 10px;
            }

                .content3 .commentboxes .comments .comment1 .detail .user {
                    display: flex;
                    align-items: center;
                }

                    .content3 .commentboxes .comments .comment1 .detail .user .name {
                        font-size: 1rem;
                        font-weight: 600;
                        font-style: normal;
                        color: #ffffff;
                    }

                    .content3 .commentboxes .comments .comment1 .detail .user .year {
                        font-size: 0.9rem;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        margin-left: 10px;
                    }

                .content3 .commentboxes .comments .comment1 .detail .text {
                    font-size: 0.9rem;
                    font-weight: 500;
                    font-style: normal;
                    line-height: 1.1;
                    color: #ffffff;
                }

                .content3 .commentboxes .comments .comment1 .detail .more {
                    display: flex;
                    align-items: end;
                }

                    .content3 .commentboxes .comments .comment1 .detail .more .reply {
                        color: #ffffff;
                        font-size: 0.9rem;
                        font-weight: 500;
                        font-style: normal;
                        cursor: pointer;
                        transition: all 300ms;
                    }

                        .content3 .commentboxes .comments .comment1 .detail .more .reply:hover {
                            color: #FF7F00;
                        }

                    .content3 .commentboxes .comments .comment1 .detail .more .likeandunlike {
                        display: flex;
                        align-items: end;
                    }

                        .content3 .commentboxes .comments .comment1 .detail .more .likeandunlike .like {
                            color: #ffffff;
                            font-size: 0.9rem;
                            font-weight: 500;
                            font-style: normal;
                            cursor: pointer;
                            margin-left: 10px;
                            transition: all 300ms;
                        }

                            .content3 .commentboxes .comments .comment1 .detail .more .likeandunlike .like:hover {
                                color: #FF7F00;
                            }

                        .content3 .commentboxes .comments .comment1 .detail .more .likeandunlike .unlike {
                            color: #ffffff;
                            font-size: 0.9rem;
                            font-weight: 500;
                            font-style: normal;
                            cursor: pointer;
                            margin-left: 10px;
                            transition: all 300ms;
                        }

                            .content3 .commentboxes .comments .comment1 .detail .more .likeandunlike .unlike:hover {
                                color: #FF7F00;
                            }

        .content3 .commentboxes .comments .comment2 {
            display: flex;
            margin-top: 20px;
            width: 95%;
        }

            .content3 .commentboxes .comments .comment2 img {
                width: 60px;
                height: 60px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid #F2F4F3;
            }

            .content3 .commentboxes .comments .comment2 .detail {
                display: flex;
                flex-direction: column;
                justify-content: start;
                line-height: 2;
                margin-left: 10px;
            }

                .content3 .commentboxes .comments .comment2 .detail .user {
                    display: flex;
                    align-items: center;
                }

                    .content3 .commentboxes .comments .comment2 .detail .user .name {
                        font-size: 1rem;
                        font-weight: 600;
                        font-style: normal;
                        color: #ffffff;
                    }

                    .content3 .commentboxes .comments .comment2 .detail .user .year {
                        font-size: 0.9rem;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                        margin-left: 10px;
                    }

                .content3 .commentboxes .comments .comment2 .detail .text {
                    font-size: 0.9rem;
                    font-weight: 500;
                    font-style: normal;
                    line-height: 1.1;
                    color: #ffffff;
                }

                .content3 .commentboxes .comments .comment2 .detail .more {
                    display: flex;
                    align-items: end;
                }

                    .content3 .commentboxes .comments .comment2 .detail .more .reply {
                        color: #ffffff;
                        font-size: 0.9rem;
                        font-weight: 500;
                        font-style: normal;
                        cursor: pointer;
                        transition: all 300ms;
                    }

                        .content3 .commentboxes .comments .comment2 .detail .more .reply:hover {
                            color: #FF7F00;
                        }

                    .content3 .commentboxes .comments .comment2 .detail .more .likeandunlike {
                        display: flex;
                        align-items: end;
                    }

                        .content3 .commentboxes .comments .comment2 .detail .more .likeandunlike .like {
                            color: #ffffff;
                            font-size: 0.9rem;
                            font-weight: 500;
                            font-style: normal;
                            cursor: pointer;
                            margin-left: 10px;
                            transition: all 300ms;
                        }

                            .content3 .commentboxes .comments .comment2 .detail .more .likeandunlike .like:hover {
                                color: #FF7F00;
                            }

                        .content3 .commentboxes .comments .comment2 .detail .more .likeandunlike .unlike {
                            color: #ffffff;
                            font-size: 0.9rem;
                            font-weight: 500;
                            font-style: normal;
                            cursor: pointer;
                            margin-left: 10px;
                            transition: all 300ms;
                        }

                            .content3 .commentboxes .comments .comment2 .detail .more .likeandunlike .unlike:hover {
                                color: #FF7F00;
                            }

@media only screen and (max-width: 2700px) {
    .content3 {
        padding: 0rem !important;
    }

        .content3 #menuFull {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 560px;
            overflow: auto;
            gap: 1.2% !important;
        }

            .content3 #menuFull li {
                transition: all 250ms;
                width: 10% !important;
            }
}

@media only screen and (max-width: 2000px) {
    .content3 {
        padding: 0rem !important;
    }

        .content3 #menuFull {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 560px;
            overflow: auto;
            gap: 1.8% !important;
        }

            .content3 #menuFull li {
                transition: all 250ms;
                width: 15% !important;
            }
}

@media only screen and (max-width: 1600px) {
    .content3 {
        padding: 0rem !important;
    }

        .content3 #menuFull {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 560px;
            overflow: auto;
            gap: 1% !important;
        }

            .content3 #menuFull li {
                transition: all 250ms;
                width: 19% !important;
            }
}

@media only screen and (max-width: 1400px) {
    .content3 {
        padding: 0rem !important;
    }

    .animeabout {
        margin-top: 25px;
        padding: 0rem 1rem;
    }

    .content3 .allepisode {
        width: 100%;
        height: auto;
        margin-top: 50px;
        padding: 0rem 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .content3 {
        padding: 0rem !important;
    }

        .content3 #menuFull {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 560px;
            overflow: auto;
            gap: 1% !important;
        }

            .content3 #menuFull li {
                transition: all 250ms;
                width: 24% !important;
            }
}

@media only screen and (max-width: 750px) {
    .content3 {
        padding: 0rem !important;
    }

        .content3 #menuFull {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 560px;
            overflow: auto;
            gap: 1% !important;
        }

            .content3 #menuFull li {
                transition: all 250ms;
                width: 32% !important;
            }
}

@media only screen and (max-width:720px) {

    .watson {
        width: 100%;
        height: 500px;
        position: relative;
    }

        .watson .watson-bg .desktop {
            display: none;
        }

        .watson .watson-bg .mobile {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(5px);
        }

        .watson .originalimg {
            width: auto;
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            .watson .originalimg .desktop {
                display: none;
            }

            .watson .originalimg .mobile {
                display: block;
                width: auto;
                height: 100%;
                object-fit: cover;
            }

    .animeabout .text .title {
        font-size: 1.4rem;
        font-weight: 500;
        font-style: normal;
    }

    .animeabout .text .like i {
        font-size: 1.4rem;
    }

    .animeabout .animedes .totalepisode,
    .animeabout .animedes .createyear,
    .animeabout .animedes .des,
    .animeabout .animedes .category {
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 400;
        font-style: normal;
    }

    .animeabout .animedes .des {
        line-height: 1.2;
        width: 100%;
        max-height: 150px;
        overflow-y: auto;
    }
} 

@media only screen and (max-width: 550px) {
    .content3 {
        margin-top: 60px;
    }



        .content3 #menuFull {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 560px;
            overflow: auto;
            gap: 1% !important;
        }

            .content3 #menuFull li {
                transition: all 250ms;
                width: 49% !important;
            }

        .content3 .commentboxes {
            width: 100%;
            height: auto;
            margin-top: 30px;
        }

            .content3 .commentboxes .title {
                font-size: 1rem;
                color: #ffffff;
                font-weight: bold;
                font-style: normal;
            }

            .content3 .commentboxes .comments {
                display: flex;
                flex-direction: column;
                align-items: end;
                width: 100%;
            }

                .content3 .commentboxes .comments .comment1 {
                    display: flex;
                    margin-top: 20px;
                    width: 100%;
                }

                    .content3 .commentboxes .comments .comment1 img {
                        width: 40px !important;
                        height: 40px !important;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                .content3 .commentboxes .comments .comment2 {
                    display: flex;
                    margin-top: 20px;
                    width: 95%;
                }

                    .content3 .commentboxes .comments .comment2 img {
                        width: 40px !important;
                        height: 40px !important;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                    }
}
/*---------------------------------------ANİMEDETAİL END---------------------------------------*/
/*---------------------------------------FOOTER START---------------------------------------*/
footer {
    margin-top: 100px;
    width: 100%;
    height: 600px;
    position: relative;
}

    footer::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 1%, #000000 60%);
        z-index: 99;
    }

    footer .footerimg {
        width: 100%;
        height: 100%;
        background-image: url(../WEBIMG/footer.avif);
        background-position: center;
        background-size: cover;
        filter: brightness(0.8);
    }

    footer .detail {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

        footer .detail .page {
            display: flex;
            flex-direction: column;
        }

            footer .detail .page .title {
                font-size: 1.1rem;
                color: #ffffff !important;
                font-weight: 500;
                padding-left: 3px;
            }

            footer .detail .page ul {
                list-style-type: none;
                padding: 0;
            }

                footer .detail .page ul li {
                    margin: 5px 0px;
                }

                    footer .detail .page ul li a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 1rem;
                        font-weight: 500;
                        font-style: normal;
                        transition: all 300ms;
                        padding: 3px;
                        border-radius: 20px;
                    }

                        footer .detail .page ul li a:hover {
                            background-color: #ffffff;
                            color: #000000;
                        }

        footer .detail .social {
            display: flex;
            flex-direction: column;
        }

            footer .detail .social .title {
                font-size: 1.1rem;
                color: #ffffff !important;
                font-weight: 500;
                padding-left: 3px;
            }

            footer .detail .social ul {
                list-style-type: none;
                padding: 0;
            }

                footer .detail .social ul li {
                    margin: 5px 0px;
                }

                    footer .detail .social ul li a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 1rem;
                        font-weight: 500;
                        font-style: normal;
                        transition: all 300ms;
                        padding: 3px;
                        border-radius: 20px;
                    }

                        footer .detail .social ul li a:hover {
                            background-color: #ffffff;
                            color: #000000;
                        }

        footer .detail .contact {
            display: flex;
            flex-direction: column;
        }

            footer .detail .contact .title {
                font-size: 1.1rem;
                color: #ffffff !important;
                font-weight: 500;
                padding-left: 3px;
            }

            footer .detail .contact ul {
                list-style-type: none;
                padding: 0;
            }

                footer .detail .contact ul li {
                    margin: 5px 0px;
                    color: #ffffff;
                    font-size: 1rem;
                    font-weight: 500;
                    font-style: normal;
                }

    footer .copyright {
        position: absolute;
        width: 100%;
        bottom: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

        footer .copyright img {
            width: 50px;
            height: auto;
        }

        footer .copyright .text {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 500;
            font-style: normal;
            color: #ffffff;
        }

@media only screen and (max-width: 550px) {
    footer {
        margin-top: 0px !important;
        width: 100%;
        height: 600px;
        position: relative;
    }

        footer::before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100px;
            top: 0;
            background: linear-gradient(to top, rgba(255, 255, 255, 0) 1%, #000000 60%);
            z-index: 99;
        }

        footer .footerimg {
            width: 100%;
            height: 100%;
            background-image: url(../WEBIMG/footer.avif);
            background-position: center;
            background-size: cover;
            filter: brightness(0.8);
        }

        footer .detail {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            text-align: center;
        }

            footer .detail .page {
                display: flex;
                flex-direction: column;
            }

                footer .detail .page .title {
                    font-size: 1.1rem;
                    color: #ffffff !important;
                    font-weight: 600;
                    padding-left: 3px;
                }

                footer .detail .page ul {
                    list-style-type: none;
                    padding: 0;
                }

                    footer .detail .page ul li {
                        margin: 5px 0px;
                    }

                        footer .detail .page ul li a {
                            text-decoration: none;
                            color: #ffffff;
                            font-size: 0.9rem;
                            transition: all 300ms;
                            padding: 3px;
                            border-radius: 20px;
                        }

                            footer .detail .page ul li a:hover {
                                background-color: #ffffff;
                                color: #000000;
                            }

            footer .detail .social {
                display: flex;
                flex-direction: column;
            }

                footer .detail .social .title {
                    font-size: 1.1rem;
                    color: #ffffff !important;
                    font-weight: 600;
                    padding-left: 3px;
                }

                footer .detail .social ul {
                    list-style-type: none;
                    padding: 0;
                }

                    footer .detail .social ul li {
                        margin: 5px 0px;
                    }

                        footer .detail .social ul li a {
                            text-decoration: none;
                            color: #ffffff;
                            font-size: 0.9rem;
                            transition: all 300ms;
                            padding: 3px;
                            border-radius: 20px;
                        }

                            footer .detail .social ul li a:hover {
                                background-color: #ffffff;
                                color: #000000;
                            }

            footer .detail .contact {
                display: flex;
                flex-direction: column;
            }

                footer .detail .contact .title {
                    font-size: 1.1rem;
                    color: #ffffff !important;
                    font-weight: 600;
                    padding-left: 3px;
                }

                footer .detail .contact ul {
                    list-style-type: none;
                    padding: 0;
                }

                    footer .detail .contact ul li {
                        margin: 5px 0px;
                        color: #ffffff;
                        font-size: 0.9rem;
                    }

        footer .copyright {
            position: absolute;
            width: 100%;
            bottom: 20px;
            display: flex;
            justify-content: space-around;
        }

            footer .copyright .text {
                font-size: 0.9rem;
                color: #ffffff;
            }
}
/*---------------------------------------FOOTER END---------------------------------------*/
