@model AnitsukiTV.Models.TBLUSER

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kayıt - Anitsuki</title>
    <meta name="description" content="Anitsuki kayıt sayfasına hoş geldiniz! Üye olarak özel içeriklere, topluluk özelliklerine ve daha fazlasına erişim sağlayabilirsiniz. Hemen kaydolun!" />
    <meta name="language" content="Turkish" />
    <meta name="geo.placename" content="Turkey" />
    <meta name="location" content="Türkiye, TR, Turkey" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta name="apple-mobile-web-app-title" content="Anitsuki">
    <meta name="theme-color" content="#000000" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <meta property="og:title" content="Kayıt - Anitsuki" />
    <meta property="og:url" content="https://www.anitsuki.com/kayit" />
    <meta property="og:image" content="https://www.anitsuki.com/WEBIMG/aylogo.png">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Anitsuki kayıt sayfasına hoş geldiniz! Üye olarak özel içeriklere, topluluk özelliklerine ve daha fazlasına erişim sağlayabilirsiniz. Hemen kaydolun!" />

    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">

    <link rel="shortcut icon" href="~/WEBIMG/aylogotitle.png" type="image/png" />
    <link rel="apple-touch-icon" href="~/WEBIMG/aylogotitle.png" type="image/png">

    <style>
        ::-moz-selection {
            background-color: #FF7F00;
            color: #000000;
        }

        ::selection {
            background-color: #FF7F00;
            color: #000000;
        }
    </style>
</head>
<body>
    <div style="position:relative;" class="limiter">
        <img style="position:absolute; z-index:-1; width:100%; filter:brightness(0.6); height:100%;object-fit:cover;" src="~/WEBIMG/LoginBackground.png" />
        <div style="background-color:transparent;" class="container-login100">
            <div style="background-color:#000000 !important;" class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span style="color:#ffffff !important;" class="login100-form-title p-b-26">
                        Kayıt
                    </span>
                    <span class="login100-form-title p-b-48">
                        <img src="~/WEBIMG/aylogo.png" width="100" alt="anime izle, türkçe altyazı anime izle, anitsuki" />
                    </span>
                    <h2 style="width:100%; text-align:center; color: #ffffff;">@ViewBag.user</h2>

                    <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adınızı Oluşturun">
                        <input style="color:#ffffff !important;" class="input100" type="text" name="USERNAME">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Kullanıcı Adı"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Mail Adresini Oluşturun">
                        <input style="color:#ffffff !important;" class="input100" type="email" name="MAIL">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifrenizi Oluşturun">
                        <span class="btn-show-pass">
                            <i style="color:#ffffff !important;" class="zmdi zmdi-eye"></i>
                        </span>
                        <input style="color:#ffffff !important;" class="input100" type="password" name="PASSWORD">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Şifre"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifrenizi Oluşturun">
                        <span class="btn-show-pass">
                            <i style="color:#ffffff !important;" class="zmdi zmdi-eye"></i>
                        </span>
                        <input style="color:#ffffff !important;" class="input100" type="password" name="CONFIRMPASS">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Şifre Tekrar"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button style="background: linear-gradient(to right, #FF7F00, #280137, #0492C2); color: #ffffff;" class="login100-form-btn">
                                Kayıt Ol
                            </button>
                        </div>
                    </div>

                    <h6 style="text-align:center; margin-top:15px;"><a style="color:white; font-size:1rem;" href="@Url.RouteUrl("Anasayfa")">Anasayfa'ya dön</a></h6>

                    <h6 style="text-align:center; margin-top:15px;"><a style="color:white; font-size:1rem;" href="@Url.RouteUrl("Giriş")">Hesabınız var ise Giriş Yap</a></h6>


                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Login/js/main.js"></script>
</body>
</html>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
@if (TempData["add"] != null)
{
    <script type="text/javascript">
        toastr["success"]("Kayıt işlemi başarılı giriş sayfasından, giriş yapabilirsiniz", "Yeni Kayıt")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}
@if (TempData["error"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Kullanıcı Adı kullanımda!", "Kullanıcı Adı hatası")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}
@if (TempData["error2"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Mail adresi kullanımda!", "Mail adres hatası")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}
@if (TempData["error3"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Şifreler aynı değil!", "Şifre hatası")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}
@if (TempData["error4"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Kayıt işlemi sırasında bir hata oluştu. Lütfen tekrar deneyin.", "İşlem Hatası")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

