
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Gizlilik Politikası - Anitsuki </title>
    <meta name="description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="language" content="Turkish" />
    <meta name="geo.placename" content="Turkey" />
    <meta name="location" content="türkiye, tr, turkey" />
    <meta name="robots" content="noarchive" />
    <meta name="apple-mobile-web-app-title" content="anitsuki">
    <meta name="theme-color" content="#000000" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="anitsuki - anime izle" />
    <meta property="og:url" content="https://anitsuki.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="robots" content="max-image-preview:large" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/splidejs/splide/dist/css/splide.min.css" type="text/css">
    <link rel="stylesheet" href="~/splidejs/splide/dist/css/themes/splide-skyblue.min.css" type="text/css">
    <link rel="stylesheet" href="~/swiper/swiper-bundle.min.css" type="text/css">
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <link rel="shortcut icon" href="~/IMG/aylogo.png" />
</head>
<body>
    <div id="loader">
        <div id="box1">
            <img src="~/IMG/arisu-aris.gif">
        </div>
    </div>
    <header>
        <div class="container-xl">
            <div class="row">
                <div class="logo col-2">
                    <a href="/Home/Index"><img src="~/IMG/logo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"><img class="logomobile" src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"></a>
                </div>

                <input style="display: none;" type="checkbox" id="check">
                <label for="check" class="hamburger-btn col-1">
                    <span></span>
                </label>

                <nav class="col-8">
                    <ul>
                        <li><a href="/Home/Index"><i class="fa-solid fa-house"></i> Anasayfa</a></li>
                        <li><a href="/Category/Index"><i class="fa-solid fa-list"></i> Animeler</a></li>
                    </ul>
                </nav>
                <div class="box col-2">
                    <div class="search">
                        <a href="/Category/Index"><i class="bi bi-search"></i></a>
                    </div>
                    <div class="user">
                        @{ AnitsukiTV.Models.AnitsukiTVEntities db = new AnitsukiTV.Models.AnitsukiTVEntities();}
                        @if (Request.IsAuthenticated)
                        {
                            var currentUser = db.TBLUSER.FirstOrDefault(u => u.USERNAME == User.Identity.Name);
                            if (currentUser != null && currentUser.PICTURE != null)
                            {
                                <a href="/User/Index"><img width="40" height="40" style="border-radius:50%; object-fit:cover;" src="~/IMG/@currentUser.PICTURE"></a>
                            }
                            else
                            {
                                <a href="/User/Index"><img width="40" height="40" style="border-radius: 50%; object-fit: cover;" src="~/IMG/stockuser.png"></a>
                            }
                            <a href="/LoginSignIn/SignOut"><i class="bi bi-box-arrow-right"></i></a>
                        }
                        else
                        {
                            <a href="/LoginSignIn/Login"><i class="bi bi-person"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content6 container-xl">
        <div class="title">
            Gizlilik Politikası’nın Amacı
        </div>
        Bu Gizlilik/Kişisel Verilerin Korunması Politikası ve İletişim İzni;
        <br>
        <br>
        İçerik ve Yer Sağlayıcısı olduğumuz işbu internet sitesinin (“İnternet Sitesi”) ne tür kişisel veriler topladığını,
        <br>
        <br>
        Bu kişisel verilerin nasıl kullanıldığını,
        <br>
        <br>
        İnternet Sitesi’nin kişisel verilerinizi kimlerle paylaşabileceğini,
        <br>
        <br>
        İnternet Sitesi’nin işlediği kişisel verileriniz üzerindeki haklarınızın neler olduğunu ve bu hakları nasıl kullanabileceğinizi,
        <br>
        <br>
        Çerez’ler (Cookie) hakkında bilgilendirmeyi ve Ticari elektronik ileti alma konusundaki olumlu veya olumsuz tercihlerinizi nasıl değiştirebileceğinizi açıklamaktadır.
        <div class="title">
            Bilgileri Saklama Amacı ve Dayanağı
        </div>
        Tarafımızca, İnternet Sitesi kullanıcılarına/üyelerine daha iyi hizmet verebilmek amacıyla ve “5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun” ve ilgili ikincil mevzuat, “6563 sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanun” ve ilgili ikincil mevzuat, “5237 Sayılı Türk Ceza Kanunu” ve “6698 Sayılı Kişisel Verilerin Korunması Kanunu” başta olmak üzere, ilgili mevzuattan kaynaklanan yasal yükümlülükler ve hizmet standartları çerçevesinde, size daha iyi hizmet verilebilmesini ve istatistiki çalışmalar yapılabilmesini sağlayacak kişisel verileriniz (ad, soyad, doğum tarihi, cep telefonu numarası, sabit telefon numarası, e-posta, cinsiyet, adres, sosyal medya hesaplarıyla bağlanılması durumunda kullanıcının/üyenin o kanallar aracılığıyla paylaşılmasına onay verdiği bilgiler de dahil ve fakat bunlarla sınırlı olmamak kaydıyla kullanıcıyı doğrudan veya dolaylı olarak tanımlamaya yönelik her türlü kişisel bilgi) sizlerden talep edilebilmektedir.
        <br>
        <br>
        Bu kişisel veriler, İnternet Sitesi hizmetlerinden yararlanabilmeniz adına, açık rızanıza istinaden, işbu Gizlilik/Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile bilgi güvenliği tedbirleri de alınarak işlenecek ve saklanacaktır.

        <div class="title">
            Gizlilik
        </div>
        anitsuki.com servisleri, sisteme bağlanan kullanıcılarının IP Adreslerini web sitesi kayıtlarında bağlantı tarihi, saati ve sistemden istenen adres ve/veya sayfalar bazına kaydetmektedir. Bu bilgiler gerek sistem güvenliği, gerekse olası kullanıcı problemlerinin çözümünde anahtar bilgiler olup, kullanıcı kişisel bilgileriyle ilişkili değildir. Bu bilgiler 5651 sayılı Kanun’un Yer Sağlayıcılara getirdiği yükümlülükler kapsamında saklanmaktadır.
        <br>
        <br>
        Kullanıcının iletişim bilgileri gerektiği zaman kullanıcıya ulaşmamızı sağlar. anitsuki.com, Kullanıcılarına gerekli olduğu zaman e-mail ile mesaj gönderebilir.
        <br>
        <br>
        Genel bir ilke olarak, Kullanıcıların kişisel bilgileri tarafımızca üçüncü şahıslara veya kuruluşlara verilmemektedir. Örneğin, isim, soy isim, e-posta/e-mail adresleriniz gibi bilgiler başka firmalarla paylaşılmaz. Kullanım Şartnamemizde, bu bilgilerin nerelerde ve ne amaçlar ile kullanılacağı açıkça belirtilmiştir.
        <br>
        <br>
        Videolarınızda, yorumlarınızda, profil sayfanızda verdiğiniz kişisel bilgiler, üçüncü şahıs ve kuruluşlar tarafından kullanılabilmektedir. Bu gibi durumlarda, kişisel bilgilerinizi vermek tamamıyla gönüllü olarak yaptığınız bir davranış olur ve anitsuki.com hiçbir şekilde sorumlu tutulamaz.
        <br>
        <br>
        Kullanıcılarımızın kişisel hakları, bizim için de kendileri için oldukları kadar önemlidir. Ancak, var olan yasalar çerçevesinde, devlet organları yasadışı içerik tespit edip, bizden kullanıcı bilgilerini istediği takdirde, gerekli kişisel bilgiler, tarafımızca devlet organlarına teslim edilebilir.
        <br>
        <br>
        Kişisel bilgilerinize her zaman ulaşabilir ve onları güncelleyebilirsiniz. Bunların içerisinde, e-posta/e-mail adresiniz ve şifreniz mevcuttur. Bunların yanı sıra, yayınladığınız videoları silme yetkisine sahip olduğunuzu hatırlatırız.

        <div class="title">
            Haklarınız
        </div>

        İşlenen kişisel verilerinizin neler olduğunu, işleme amacı doğrultusunda kullanılıp kullanılmadığını, yurt içi veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri öğrenmeyi, eksik veya yanlış işlenen kişisel verileriniz söz konusu ise veya işlenen kişisel verilerinizde herhangi bir değişiklik olması durumunda bu verilerinizi değiştirmeyi, güncellemeyi ve/veya silmeyi, bu durumun kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini talep edebilirsiniz.
        <br>
        <br>
        Bu kapsamdaki haklarınızı info@anitsuki.com adresine mail atarak kullanabilirsiniz. Üyelik hesabınızın bulunmadığı durumlar bakımından ise kişisel verileriniz “6698 Sayılı Kişisel Verilerin Korunması Kanunu” madde 28/f.1,b ve f.2,b ve “5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun” uyarınca yasal olarak tutulmaktadır.

        <div class="title">
            Güvenlik
        </div>

        anitsuki.com sistemleri güvenlik için gerekli tedbirleri almaya özen göstermiştir. Bütün kullanıcı hesapları korunmaktadır. Kullanıcılarımızın, şifrelerini unutması durumunda e-posta/e-mail adreslerine yeni şifreleri gönderilecektir. Güvenlik nedeniyle, şifreler kullanıcının kayıtlı olduğu e-posta/e-mail adresi dışında başka bir adrese bildirilmez.
        <br>
        <br>
        anitsuki.com olarak, hem sitemizin hem de üyelerimizin güvenliğine büyük önem vermekteyiz. Bu nedenle, sistemimizde düzenli olarak güvenlik testleri yapmakta ve herhangi bir güvenlik açığına izin vermemekteyiz. Buna rağmen, zaman zaman üyelerimizden, üyeliklerine korsan olarak girildiğine ilişkin şikayetler almaktayız. Üyelikler, bizim bütün güvenlik önlemlerimize rağmen, bazen kötü niyetli kişiler tarafından ele geçirilebilmektedir. Üyeliklerinizi, hatta bilgisayarınızdaki tüm bilgileri korumanızı sağlayacak aşağıdaki güvenlik önlemlerini uyguladığınızda, güvenlik konusunda herhangi bir sorunla karşılaşmazsınız.
        <div class="title">
            Kişisel Veri Saklama Süresi
        </div>
        “6563 Sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanun” uyarınca; onayın geri alındığına ilişkin kayıtlar bu tarihten itibaren 1 yıl süreyle, ticari elektronik iletinin içeriği ve gönderiye ilişkin diğer her türlü kayıt ise gerektiğinde Bakanlığa sunulmak üzere 3 yıl süreyle saklanacaktır. Belirtilen sürelerin sonunda, kişisel verileriniz Tarafımızca veya talebiniz üzerine silinecek, yok edilecek veya anonim hale getirilecektir. Ayrıca “5651 Sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun” uyarınca işlediğimiz trafik verileri 2 yıl süreyle saklanacak ve bu süre bittikten sonra anonim hale getirilecektir.
        <div class="title">
            Çerez (Cookie) Kullanımı
        </div>
        İnternet Sitesi, ziyaretçilerine daha iyi hizmet verebilmek amacıyla ve yasal yükümlülüğü çerçevesinde, işbu Gizlilik/Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile gezinme bilgilerinizi toplayacak, işleyecek, üçüncü kişilerle paylaşacak ve güvenli olarak saklayacaktır. Gezinme bilgilerinizi toplama amacıyla kullandığımız çerezler (cookie) hakkında bilgi, İnternet Sitesi’ni ziyaret ettiğinizde “açılır pencere (pop-up ekran)” ile verilecektir. Çerezler, web sitesini ziyaret ettiğinizde veya mobil uygulamasını cep telefonunuza yüklediğinizde veya mobilweb üzerinden bağlandığınızda, internet tarayıcınız tarafından yüklenen ve bilgisayarınız, cep telefonunuz veya tabletinizde saklanan küçük bilgi parçacıklarını içeren metin dosyalarıdır.
        <br>
        <br>
        İnternet Sitesi çerezleri; günlük dosyaları, boş gif dosyaları ve/veya üçüncü taraf kaynakları yoluyla topladığı bilgileri, tercihlerinizle ilgili bir özet oluşturmak amacıyla depolamaktadır. İnternet Sitesi, size özel tanıtım yapmak, promosyonlar ve pazarlama teklifleri sunmak, web sitesinin veya mobil uygulamanın içeriğini size göre iyileştirmek ve/veya tercihlerinizi belirlemek amacıyla; site üzerinde gezinme bilgilerinizi ve/veya site üzerindeki kullanım geçmişinizi izleyebilmektedir. İnternet Sitesi, çevrimiçi ve çevrimdışı olarak toplanan bilgiler gibi farklı yöntemlerle veya farklı zamanlarda site üzerinde sizden toplanan bilgileri eşleştirebilir ve bu bilgileri üçüncü taraflar gibi başka kaynaklardan alınan bilgilerle birlikte kullanabilir. Söz konusu eşleştirme ve kullanma, yalnızca işbu Gizlilik/Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dahilinde kalacaktır.
    </div>
    <footer>
        <div class="footerimg">
        </div>
        <div class="detail">
            <div class="page">
                <div class="title">
                    Sayfalar
                </div>
                <ul>
                    <li><a href="/Home/About">Hakkımızda</a></li>
                    <li><a href="/Home/PrivacyPolicy">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="social">
                <div class="title">
                    Sosyal Medyalar
                </div>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UC3AfwO_XmAvYEtw6FWZXZcw"><i class="fa-brands fa-youtube fa-l"></i> Youtube</a></li>
                    @*<li><a href="#"><i class="fa-brands fa-x-twitter fa-l"></i> Twitter-X</a></li>*@
                    <li><a href="https://www.instagram.com/anitsukitv/"><i class="fa-brands fa-instagram fa-l"></i> Instagram</a></li>
                    <li><a href="https://discord.gg/j6k56TRk"><i class="bi bi-discord"></i> Discord</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    İletişim
                </div>
                <ul>
                    <li>info@anitsuki.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright ">
            <img src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki">
            <div class="text">
                Copyright © Anitsuki 2024. Tüm hakları saklıdır.
            </div>
        </div>
    </footer>
</body>
</html>
<script src="~/jquery/dist/jquery.min.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/swiper/swiper-bundle.min.js"></script>
<script src="~/splidejs/splide/dist/js/splide.min.js"></script>
<script src="~/js/main1.js"></script>
<script src="~/js/splide.js"></script>
<script>
    document.querySelectorAll('nav a').forEach(link => {
        link.classList.remove('active');

        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });
    window.addEventListener('load', loaderfunc);
    function loaderfunc() {
        document.getElementById('loader').style.display = 'none';
    }
    document.addEventListener('keydown', function (event) {
        if (event.code === 'Space' && event.target.tagName !== 'TEXTAREA' && event.target.tagName !== 'INPUT') {
            event.preventDefault();
            event.stopPropagation();
        }
    });
</script>



