
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anitsuki</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/IMG/aylogo.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/LanetlerKralıAdmin/Index"><img style="object-fit:contain; height:50px;" src="~/IMG/logo.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/LanetlerKralıAdmin/Index"><img src="~/IMG/aylogo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img style="object-fit:cover;" src="~/IMG/aylogo.png" alt="image">
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@Session["username"]</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                            
                            <div class="p-2">
                                <div role="separator" class="dropdown-divider"></div>
                                <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">İşlemler</h5>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="/LoginSignIn/LockOut">
                                    <span>Hesabı Kilitle</span>
                                    <i class="mdi mdi-lock ml-1"></i>
                                </a>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="/LoginSignIn/SignOut2">
                                    <span>Çıkış Yap</span>
                                    <i class="mdi mdi-logout ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </li>


                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-category">Düzenleyiciler</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/LanetlerKralıAdmin/Index">
                            <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                            <span class="menu-title">Anasayfa</span>
                        </a>
                    </li>
                    @if (Session["role"] != null)
                    {
                        int role = (int)Session["role"];
                        if (role == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Admin">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Admin</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/AdminRole">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Roller</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Category">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Kategori</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Anime">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Anime</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Season">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Sezonlar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Episode">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Bölümler</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Users">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Kullanıcılar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/AnimeComment">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Anime Yorumları</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/EpisodeComment">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Bölüm Yorumları</span>
                                </a>
                            </li>
                        }
                        else if (role == 2)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Users">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Kullanıcılar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/AnimeComment">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Anime Yorumları</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/EpisodeComment">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Bölüm Yorumları</span>
                                </a>
                            </li>
                        }
                        else if (role == 3)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Anime">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Anime</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Season">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Sezonlar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/LanetlerKralıAdmin/Episode">
                                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                    <span class="menu-title">Bölümler</span>
                                </a>
                            </li>
                        }
                    }

                    <li class="nav-item sidebar-user-actions">
                        <div class="sidebar-user-menu">
                            <a href="/LoginSignIn/SignOut2" class="nav-link">
                                <i class="mdi mdi-logout menu-icon"></i>
                                <span class="menu-title">Çıkış Yap</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Admin/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Admin/assets/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Admin/assets/js/off-canvas.js"></script>
    <script src="~/Admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/Admin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Admin/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>
