@model AnitsukiTV.Models.TBLANIMECOMMENT

@if (User.Identity.IsAuthenticated)
{
    <div class="commentplace">
        <div class="headcomment">
            <div class="title">
                <i class="bi bi-pencil-square"></i> Düşüncelerinizi Yazın
            </div>
            <form action="/AnimeDetail/LeaveComment" method="post">
                <textarea name="COMMENT"></textarea>
                <input type="hidden" name="ANIMEID" value="@ViewBag.deger" />
                <button><i class="bi bi-send"></i> Gönder</button>
            </form>
        </div>
    </div>
}
else
{
    <div style="display:flex; justify-content:center; margin-top:50px;">
        <p style="font-size:1.1rem;color:#ffffff;">Düşüncelerinizi yazmak için</p><a style="text-decoration: none;" href="/LoginSignIn/Login"><span style="color: #FF7F00; margin-left:5px; font-size:1.1rem;">Giriş Yapın</span></a>
    </div>
}

